In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from tqdm import tqdm

import sqlalchemy as db

In [2]:
engine = db.create_engine("postgresql+psycopg2://postgres:5Sx!Pnn0@localhost:5432/imdb")

conn = engine.connect()

In [3]:
metaData = db.MetaData(schema="public")
metaData.reflect(bind=conn)

In [4]:
final = pd.read_json('../data/interim/cleaned.jsonl', lines=True)

In [5]:
final.head()

,title,year,classification,duration,genre,rating,directors,stars,gross
0,The Dark Knight,2008,PG-13,152,"Action, Crime, Drama",9.0,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",2722716
1,Inception,2010,PG-13,148,"Action, Adventure, Sci-Fi",8.8,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",2416686
2,The Matrix,1999,R,136,"Action, Sci-Fi",8.7,"Lana Wachowski, Lilly Wachowski","Keanu Reeves, Laurence Fishburne, Carrie-Anne ...",1960545
3,The Lord of the Rings: The Fellowship of the Ring,2001,PG-13,178,"Action, Adventure, Drama",8.8,Peter Jackson,"Elijah Wood, Ian McKellen, Orlando Bloom, Sean...",1918130
4,The Lord of the Rings: The Return of the King,2003,PG-13,201,"Action, Adventure, Drama",9.0,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",1889542

## Tabelas a criar:

### - MovieRatings (Fato)

In [6]:
columns = ['title', 'year', 'duration', 'rating', 'gross']
df_movie_ratings = final[columns]
df_movie_ratings.head()

,title,year,duration,rating,gross
0,The Dark Knight,2008,152,9.0,2722716
1,Inception,2010,148,8.8,2416686
2,The Matrix,1999,136,8.7,1960545
3,The Lord of the Rings: The Fellowship of the Ring,2001,178,8.8,1918130
4,The Lord of the Rings: The Return of the King,2003,201,9.0,1889542

In [7]:
df_movie_ratings.reset_index(inplace=True)
df_movie_ratings.rename(columns={
    'title': 'movie_title', 
    'year': 'movie_year', 
    'duration': 'movie_duration', 
    'rating': 'movie_rating', 
    'gross': 'movie_gross',
    'index': 'movie_id'}, inplace=True)

C:\Users\a.alice\AppData\Local\Temp\ipykernel_30352\684718758.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movie_ratings.rename(columns={

In [8]:
df_movie_ratings.head()

,movie_id,movie_title,movie_year,movie_duration,movie_rating,movie_gross
0,0,The Dark Knight,2008,152,9.0,2722716
1,1,Inception,2010,148,8.8,2416686
2,2,The Matrix,1999,136,8.7,1960545
3,3,The Lord of the Rings: The Fellowship of the Ring,2001,178,8.8,1918130
4,4,The Lord of the Rings: The Return of the King,2003,201,9.0,1889542

In [9]:
list_values = []
movieratings = metaData.tables['public.movieratings']
for index, row in tqdm(df_movie_ratings.iterrows()):
    values = {
#         'movie_id': row['movie_id'],
        'movie_title': row['movie_title'],
        'movie_year': row['movie_year'],
        'movie_duration': row['movie_duration'],
        'movie_gross': row['movie_gross']
    }
    list_values.append(values)

query = db.insert(movieratings)
res = conn.execute(query, list_values)

8637it [00:00, 15912.43it/s]

In [10]:
conn.commit()

### - MoviesDirectors (Dimens達o)

In [ ]:
directors = final['directors'].tolist()
directors = [d for director in directors for d in director.split(', ')]
directors = set(directors)
dict_directors = {'director_name': list(directors)}
df_directors = pd.DataFrame(dict_directors)
df_directors

In [ ]:
df_directors.reset_index(inplace=True)

In [ ]:
df_directors.rename(columns={'index': 'director_id'}, inplace=True)

In [ ]:
df_directors.head()

In [ ]:
list_values = []
moviedirectors = metaData.tables['public.moviedirectors']
for index, row in tqdm(df_directors.iterrows()):
    values = {
        'director_id': row['director_id'],
        'director_name': row['director_name']
    }
    list_values.append(values)

query = db.insert(moviedirectors)
res = conn.execute(query, list_values)

In [ ]:
conn.commit()

### - MovieStars (Dimens達o)

In [ ]:
stars = final['stars'].tolist()
stars = [s for star in stars for s in star.split(', ')]
stars = set(stars)
dict_stars = {'star_name': list(stars)}
df_stars = pd.DataFrame(dict_stars)
df_stars

In [ ]:
df_stars.isnull().sum()

In [ ]:
df_stars.reset_index(inplace=True)
df_stars.rename(columns={'index': 'star_id'}, inplace=True)

In [ ]:
df_stars

In [ ]:
list_values = []
moviestars = metaData.tables['public.moviestars']
for index, row in tqdm(df_stars.iterrows()):
    values = {
        'star_id': row['star_id'],
        'star_name': row['star_name']
    }
    list_values.append(values)

query = db.insert(moviestars)
res = conn.execute(query, list_values)

In [ ]:
conn.commit()

### - MovieGenres (Dimens達o)

In [ ]:
genres = final['genre'].tolist()
genres = [g for genre in genres for g in genre.split(', ')]
genres = set(genres)
dict_genres = {'genre_name': list(genres)}
df_genres = pd.DataFrame(dict_genres)
df_genres

In [ ]:
df_genres.reset_index(inplace=True)
df_genres.rename(columns={'index': 'genre_id'}, inplace=True)

In [ ]:
df_genres.head()

In [ ]:
list_values = []
moviegenres = metaData.tables['public.moviegenres']
for index, row in tqdm(df_genres.iterrows()):
    values = {
        'genre_id': row['genre_id'],
        'genre_name': row['genre_name']
    }
    list_values.append(values)

query = db.insert(moviegenres)
res = conn.execute(query, list_values)

In [ ]:
conn.commit()

### - MovieClassification (Dimens達o)

In [ ]:
classification = final['classification'].tolist()
classification = set(classification)
dict_classification = {'classification_name': list(classification)}
df_classification = pd.DataFrame(dict_classification)
df_classification

In [ ]:
df_classification.reset_index(inplace=True)
df_classification.rename(columns={'index': 'classification_id'}, inplace=True)

In [ ]:
list_values = []
movieclassification = metaData.tables['public.movieclassification']
for index, row in tqdm(df_classification.iterrows()):
    values = {
        'classification_id': row['classification_id'],
        'classification_name': row['classification_name']
    }
    list_values.append(values)

query = db.insert(movieclassification)
res = conn.execute(query, list_values)

In [ ]:
conn.commit()